.card {
    transform-origin: center; 
    transition: transform 0.4s ease; 
  }
  .card:hover {
    transform: scale(1.1);
  }

.detail-div{
  overflow: auto;
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}
.detail-img {
  width: 45%; 
  border-radius: 35px;
  float: left;
  margin-right: 30px;
}
.card-img-top{
  height: 220px;
}
.img-div{
  float: left;
  min-width: 50%;
  padding-bottom: 70px;
}
.text-container{
  margin-top: 70px;
  border-radius: 15px;
  background-color: #EEE0C9;
  float: left;
  max-width: 50%;
  text-align: center;
}
.text-div{
  padding: 20px;
  font-weight: bold;
}
.copyright{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  color: #957777;
}
@media (max-width: 835px){  
  .detail-img {
    width: 60%; 
    border-radius: 35px;
  }
  .detail-div {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .text-container{
    float: left;
    min-width: 80%;
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px){
  .card{
    margin-left: 8% !important;
  }
}
@media (max-width: 768px){
  .card{
    margin-left: 20%;
  }
}
@media (max-width: 550px){  
  .detail-img {
    width: 110% !important; 
    border-radius: 35px;
    margin-left: 30px !important;
  }
  .detail-div {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .text-container{
    float: left;
    min-width: 80%;
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 1136px) {
  .detail-img {
    width: 70%; 
    border-radius: 35px;
    margin-left: 20px !important;
  }
  .detail-div {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .text-container{
    float: left;
    min-width: 80%;
    max-width: 100%;
    text-align: center;
  }
}

  